body { 
	font-size: 16px;
	color: #fff;
	background-color: #fff;
}

#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

#nav-link-container {
	background-color: #bb0;
	color: #fff;
	text-align: center;
	border: 2px solid blue;
	padding: 0;

}

#nav-link-container a {
	color: #000;
	line-height: 1;
}

#nav-link-container hr {
	margin-bottom: 0;
}

#navbar-header{
	padding: 0px;
}

#main-content {
	text-align: center;
}

#main-content h1{
	color: #000;
}

#section-holder{
	background-color: #6c757d;
}
